<%= form_for(@quiz, html: { class: "ui form" }) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @has_chapter_param %>
    <div class="field">
      <%= f.hidden_field :chapter_id, value: @chapter.id %>
      <%= f.label :chapter_id %>
      <%= @chapter.number %> - <%= @chapter.title %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :reference %>
      <%= f.text_area :reference %>
    </div>
    <div class="actions">
      <%= f.button class: "ui blue button"%>
    </div>
  <% else %>
    <p> You have to go to Chapter page and choose quiz from grid </p>
  <% end %>
<% end %>
