<h2 class="ui dividing header">Listing quizzes</h2>

<table class="ui table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Chapter</th>
      <th>Title</th>
      <th style="width:160px;">Pass Rate</th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= link_to(quiz.id, quiz, style: "color:rgba(0, 0, 0, 0.8);") %></td>
        <td>
          <% if quiz.chapter %>
            <%= link_to(quiz.chapter.number, quiz.chapter, style: "color:rgba(0, 0, 0, 0.8);") %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= link_to(quiz.title, quiz) %></td>
        <td>
          <% if quiz.get_all_assignee_count == 0 %>
            -
          <% else %>
            <div class="ui indicating small progress <%= quiz.get_passed_assignee_rate.round(0) < 100 ? "active" : "success" %>" style="margin: 0;">
              <div class="bar" style="width: <%= quiz.get_passed_assignee_rate.round(0) %>%;">
                <div class="progress">
                  <%= quiz.get_passed_assignee_rate.round(0) %>%
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui column centered grid" style="margin-top:1em;">
  <%= paginate(@quizzes, window: 2, outer_window: 1) %>
</div>
