<p id="notice"><%= notice %></p>

<h2 class="ui dividing header"><%= @quiz.chapter.number %>: <%= @quiz.title %></h2>

<h5 class="ui top attached blue header">Content</h5>
<div class="ui attached segment">
  <%= markdown_render @quiz.content %>
</div>

<h5 class="ui attached orange header">Reference</h5>
<div class="ui attached segment">
  <%= markdown_render(@quiz.reference) %>
</div>
<h5 class="ui attached teal header">
  Statistics
</h5>
<div class="ui attached segment" style="margin-bottom: 1em;">
  <div class="ui small statistics">
    <% @statistics.each do | index, properties | %>
      <div class="<%= properties[:color] %> statistic" style="margin-bottom: 1em;">
        <div class="value">
          <%= properties[:value] %>
        </div>
        <div class="label">
          <%= "#{index}".humanize.upcase %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ui indicating progress <%= @quiz.get_passed_assignee_rate.round(0) < 100 ? "active" : "success" %>">
    <div class="bar" style="width: <%= @quiz.get_passed_assignee_rate.round(0) %>%;"></div>
    <div class="label">
      <%= @quiz.get_passed_assignee_rate.round(0) %>% Pass
      (Pass Submits / Assignees)
    </div>
  </div>
</div>

<div style="margin-bottom: 1em;"></div>

<!-- Buttons or Form -->

<%= link_to(edit_quiz_path(@quiz)) do %>
  <div class="ui blue button">Edit</div>
<% end %>
<% if can? :destroy, @quiz %>
  <%= link_to(@quiz, method: :delete, data: { confirm: 'Are you sure?' }) do%>
    <div class="ui button">Destroy</div>
  <% end %>
<% end %>
<%= link_to(chapter_path @quiz.chapter) do %>
  <div class="ui basic button">Back to Chapter</div>
<% end %>
<%= link_to(quizzes_path) do %>
  <div class="ui basic button">Go to quizzes</div>
<% end %>

<h4>Passed Assignees</h4>
<table class="ui table">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Realname</th>
      <th>Passed Time</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.get_passed_assignee.each do |assignee| %>
      <tr>
        <td><%= link_to(assignee.id, assignee) %></td>
        <td><%= assignee.username %></td>
        <td><%= assignee.realname %></td>
        <td> - </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>No Pass Assignees</h4>
<table class="ui table">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Realname</th>
      <th>Try TImes</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.get_failed_assignee.each do |assignee| %>
      <tr>
        <td><%= link_to(assignee.id, assignee) %></td>
        <td><%= assignee.username %></td>
        <td><%= assignee.realname %></td>
        <td> - </td>
      </tr>
    <% end %>
  </tbody>
</table>
