<p id="notice"><%= notice %></p>

<h2 class="ui dividing header"><%= @quiz.chapter.number %>: <%= @quiz.title %></h2>
<table class="ui definition table">
  <tbody>
      <tr>
        <td class="two wide column">Content</td>
        <td><%= @quiz.content %></td>
      </tr>
      <% if can? :manage, Quiz %>
      <tr>
        <td>Reference</td>
        <td><%= @quiz.reference %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<% if can? :manage, Quiz %>
  <%= link_to edit_quiz_path(@quiz) do %>
    <div class="ui blue button">Edit</div>
  <% end %>
  <%= link_to quizzes_path do %>
    <div class="ui basic button">Back to quizzes</div>
  <% end %>
<% elsif can? :show, Quiz %>
  <%= link_to new_answer_path(target: @quiz.id)  do %>
    <div class="ui blue button">Answer it</div>
  <% end %>
  <%= link_to chapter_path(@quiz.chapter) do %>
    <div class="ui basic button">Back to chapter</div>
  <% end %>
<% end %>

