<p id="notice"><%= notice %></p>

<h2 class="ui dividing header"><%= @quiz.chapter.number %>: <%= @quiz.title %></h2>
<table class="ui definition table">
  <tbody>
      <tr>
        <td class="two wide column">Content</td>
        <td><%= markdown_render @quiz.content %></td>
      </tr>
      <% if can? :manage, Quiz %>
      <tr>
        <td>Reference</td>
        <td><%= markdown_render @quiz.reference %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<% if can? :manage, Quiz %>
  <%= link_to edit_quiz_path(@quiz) do %>
    <div class="ui blue button">Edit</div>
  <% end %>
  <%= link_to chapter_path @quiz.chapter do %>
    <div class="ui basic button">Back to Chapter</div>
  <% end %>
  <%= link_to quizzes_path do %>
    <div class="ui basic button">Go to quizzes</div>
  <% end %>
<% elsif can? :show, Quiz %>
  <%= render 'answer_form' %>
<% end %>
