<p id="notice"><%= notice %></p>

<h2 class="ui dividing header"><%= @quiz.chapter.number %>: <%= @quiz.title %></h2>

<h5 class="ui top attached blue header">Content</h5>
<div class="ui attached segment">
  <%= markdown_render @quiz.content %>
</div>
<div style="margin-bottom: 1em;"></div>

<!-- Buttons or Form -->
<% if current_user.can_answer_quiz?(@quiz) %>
  <%= render('answer_form') %>
<% elsif @quiz.is_answer_repeat_by_user(current_user) %>
  You have already answered the quiz.
<% else %>
  <br>
  <div style="text-align: center;">
    <h1 class="ui red header">
      <b>Unable to Submit Answer</b>
    </h1>
    <p class="text-danger">
      Quantity of queued answers is equal or more than 3 in this Chapter.<br>
      Please go to another chapter or wait for the judgement of your answers.
    </p>
  </div>
<% end %>


<% if last_answer || logs %>
  <h3 class="ui horizontal header divider">Logs</h3>
<% end %>

<!-- Laster Answer -->
<% if last_answer %>
  <h5 class="ui orange top attached header">
    Latest Answer
  </h5>
  <div class="ui bottom attached segment">
    <%= markdown_render last_answer.content %>
    <p style="text-align:right;">
      <%= time_tag last_answer.created_at %>
    </p>
  </div>
<% end %>

<!-- Answer Logs -->
<% logs.each do | log | %>
  <h5 class="ui top attached header">
    Log #<%= log.id %> <%= puts_answer_label log %>
  </h5>
  <div class="ui attached segment">
    <%= markdown_render log.content %>
    <p style="text-align:right;">
      <%= time_tag log.created_at %>
    </p>
  </div>
  <div class="ui bottom attached segment">
    <%= markdown_render log.judgement.content %>
    <p style="text-align:right;">
      <em>—— <%= log.judgement.user.username %></em>
    </p>
  </div>
<% end %>

