  <% if @judgement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@judgement.errors.count, "error") %> prohibited this judgement from being saved:</h2>

      <ul>
      <% @judgement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h5 class="ui blue top attached header">
      <%= @answer.quiz.chapter.number %> - <%= @answer.quiz.title %>
    </h5>
    <div class="ui bottom attached segment">
      <%= markdown_render @answer.quiz.content %>
    </div>

    <% @logs.each do | log | %>
      <h5 class="ui red top attached header">
        Log #<%= log[:id] %> - <%= log[:result] %>
      </h5>
      <div class="ui attached segment">
        <%= markdown_render log[:answer] %>
      </div>
      <div class="ui bottom attached segment">
        <%= markdown_render log[:judgement] %>
        <p style="text-align:right;">
          ——
          <%= log[:reviewer].username %>
          (<%= log[:reviewer].realname %>)
        </p>
      </div>
    <% end %>

    <h5 class="ui orange top attached header">
      Latest Answer
      -- <%= @answer.user.realname %> (<%= @answer.user.username %>)
    </h5>
    <div class="ui bottom attached segment">
      <%= markdown_render @answer.content %>
    </div>

    <h5 class="ui green top attached header">
      Reference
    </h5>
    <div class="ui bottom attached segment">
      <%= markdown_render @answer.quiz.reference %>
    </div>
  </div>

<div style="margin: 1em 0"/>

<%= form_for(@judgement, html: { class: "ui large form" }) do |f| %>
  <% if can? :manage, Judgement %>
    <div class="field">
      <%= f.label :answer_id %>
      <%= f.text_field :answer_id, value: @answer.id %>
    </div>
    <div class="field">
      <%= f.label :reviewers %>
      <%= f.text_field :user_id, value: current_user.id %>
    </div>
  <% else %>
    <%= f.hidden_field :answer_id, value: @answer.id %>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="grouped fields">
    <%= f.label :result %>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :result, :pass %>
        <%= f.label :result, :pass, value: :pass %>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :result, :reject %>
        <%= f.label :result, :reject, value: :reject %>
      </div>
    </div>
  </div>

  <%= f.button class: "ui blue button"%>
  <%= f.button "Cancel", name: "cancel", class: "ui button"%>
<% end %>
