<%= form_for(@judgement) do |f| %>
  <% if @judgement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@judgement.errors.count, "error") %> prohibited this judgement from being saved:</h2>

      <ul>
      <% @judgement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if can? :manage, Judgement %>
    <div class="field">
      <%= f.label :answer_id %><br>
      <%= f.text_field :answer_id, value: @answer.id %>
    </div>
    <div class="field">
      <%= f.label :reviewers %><br>
      <%= f.text_field :user_id, value: current_user.id %>
    </div>
  <% end %>

  <p>
    <strong>
      Quiz:
      <%= @answer.quiz.chapter.number %> -
      <%= @answer.quiz.code %>
      (<%= @answer.quiz.title %>)
    </strong><br/>
    <%= @answer.quiz.content %>
  </p>

  <p>
    <strong>Answer:</strong>
    (by <%= @answer.user.username %>)<br/>
    <%= @answer.content %>
  </p>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :result %><br>
    <%= f.radio_button :result, :pass %>
    <%= f.label :result, :pass, value: :pass %>
    <%= f.radio_button :result, :reject %>
    <%= f.label :result, :reject, value: :reject %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
