  <% if @judgement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@judgement.errors.count, "error") %> prohibited this judgement from being saved:</h2>

      <ul>
      <% @judgement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h5 class="ui blue top attached header">
      <%= @answer.quiz.chapter.number %> - <%= @answer.quiz.title %>
    </h5>
    <div class="ui bottom attached segment">
      <%= markdown_render @answer.quiz.content %>
    </div>
    <% @logs.each do | log | %>
      <h5 class="ui red top attached header">
        Log #<%= log.id %> - <%= log.judgement.result %>
      </h5>
      <div class="ui attached segment">
        <% if params[:ans_format] == 'text' %>
          <code style="color: black; font-size: 1em; background-color: white;">
            <%= simple_format log.content %>
          </code>
        <% else %>
          <%= markdown_render log.content %>
        <% end %>
        <p style="text-align:right;">
          <%= time_tag log.created_at %>
        </p>
      </div>
      <div class="ui bottom attached segment">
        <%= markdown_render log.judgement.content %>
        <p style="text-align:right;">
          ——
          <%= log.judgement.user.username %>
          (<%= log.judgement.user.realname %>)
        </p>
      </div>
    <% end %>

    <h5 class="ui orange top attached header">
      Latest Answer
    </h5>
    <div class="ui bottom attached segment">
      <% if params[:ans_format] == 'text' %>
        <code style="color: black; font-size: 1em; background-color: white;">
          <%= simple_format @answer.content %>
        </code>
      <% else %>
        <%= markdown_render @answer.content %>
      <% end %>
      <p style="text-align:right;">
        ——
        <%= @answer.user.realname %>
        (<%= @answer.user.username %>)
      </p>
    </div>
    <% if params[:ans_format] == 'text' %>
      <%= link_to url_for( target: params[:target] ) do %>
        <div class="fluid ui yellow basic button">Change answer render to Markdown</div>
      <% end %>
    <% else %>
      <%= link_to url_for( target: params[:target] ,ans_format: 'text' ) do %>
        <div class="fluid ui yellow basic button">Change answer render to Text</div>
      <% end %>
    <% end %>
    <h5 class="ui green top attached header">
      Reference
    </h5>
    <div class="ui bottom attached segment">
      <%= markdown_render @answer.quiz.reference %>
    </div>
  </div>

<div style="margin: 1em 0"/>

<%= form_for(@judgement, html: { class: "ui large form" }) do |f| %>
  <% if can? :manage, Judgement %>
    <div class="field">
      <%= f.label :answer_id %>
      <%= f.text_field :answer_id, value: @answer.id %>
    </div>
    <div class="field">
      <%= f.label :reviewers %>
      <%= f.text_field :user_id, value: current_user.id %>
    </div>
  <% else %>
    <%= f.hidden_field :answer_id, value: @answer.id %>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="grouped fields">
    <%= f.label :result %>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :result, :pass %>
        <%= f.label :result, :pass, value: :pass %>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :result, :reject %>
        <%= f.label :result, :reject, value: :reject %>
      </div>
    </div>
  </div>
  <div class="field">
    Editor have supported
    <a href="http://markdown.tw/" target="_blank">Markdown markup</a>
    and most of
    <a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank">GitHub Flavored Markdown</a>.
    Try to use it! =D
  </div>
  <%= f.button class: "ui blue button"%>
  <%= f.button "Cancel", name: "cancel", class: "ui button"%>
<% end %>
