<%= form_for(@judgement, html: { class: "ui form" }) do |f| %>
  <% if @judgement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@judgement.errors.count, "error") %> prohibited this judgement from being saved:</h2>

      <ul>
      <% @judgement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if can? :manage, Judgement %>
    <div class="field">
      <%= f.label :answer_id %>
      <%= f.text_field :answer_id, value: @answer.id %>
    </div>
    <div class="field">
      <%= f.label :reviewers %>
      <%= f.text_field :user_id, value: current_user.id %>
    </div>
  <% end %>

  <div class="field">
    <label>
      Quiz:
      <%= @answer.quiz.chapter.number %> -
      (<%= @answer.quiz.title %>)
    </label>
    <%= @answer.quiz.content %>
  </div>

  <div class="field">
    <label>
      Answer:
      (by <%= @answer.user.username %>)
    </label>
    <%= @answer.content %>
    <%= f.hidden_field :answer_id, value: @answer.id %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="grouped fields">
    <%= f.label :result %>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :result, :pass %>
        <%= f.label :result, :pass, value: :pass %>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :result, :reject %>
        <%= f.label :result, :reject, value: :reject %>
      </div>
    </div>
  </div>

  <%= f.button class: "ui blue button"%>
  <%= link_to :back do %>
    <div class="ui button">Cancel</div>
  <% end %>
<% end %>
