<h1>Listing judgements</h1>

<table class="ui table">
  <thead>
    <tr>
      <th>Examinee</th>
      <th>Quiz</th>
      <th>Result</th>
      <th>Reviewers</th>
      <th>Updated At</th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>

  <tbody>
    <% @judgements.each do |judgement| %>
      <tr>
        <td>
          <%= judgement.answer.user.realname %><br/>
          (<%= judgement.answer.user.username %>)
        </td>
        <td>
          <%= judgement.answer.quiz.chapter.number %>: <%= judgement.answer.quiz.title %>
        </td>
        <td><%= puts_answer_label judgement.answer%></td>
        <td><%= judgement.user.username %></td>
        <td><%= distance_of_time_in_words_to_now judgement.updated_at %> ago</td>
        <td><%= link_to 'Show', judgement %></td>
        <td>
          <% if can? :update, judgement %>
            <%= link_to 'Rejudge', edit_judgement_path(judgement) %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
