<h2>Judgement</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>
    Quiz:
    <%= @judgement.answer.quiz.chapter.number %> -
    <%= @judgement.answer.quiz.code %>
    (<%= @judgement.answer.quiz.title %>)
  </strong><br/>
  <%= @judgement.answer.quiz.content %>
</p>

<p>
  <strong>Answer:</strong>
  (by <%= @judgement.answer.user.username %>)<br/>
  <%= @judgement.answer.content %>
</p>

<p>
  <strong>Judegement:</strong>
  (by <%= @judgement.user.username %>)<br/>
  <%= @judgement.content %>
</p>

<p>
  <strong>Result:</strong>
  <%= @judgement.answer.status %>
</p>

<% if can? :update, @judgement %>
<%= link_to 'Rejudge', edit_judgement_path(@judgement) %> |
<% end %>
<%= link_to 'Back to answers', answers_path %> |
<%= link_to 'Back to judgements', judgements_path %>
