<h2 class="ui dividing header">Judgement</h2>
<p id="notice"><%= notice %></p>

<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Quiz</td>
      <td>
        <p>
          <b><%= @judgement.answer.quiz.chapter.number %> - <%= @judgement.answer.quiz.title %></b>
        </p>
        <p>
          <%= simple_format @judgement.answer.quiz.content %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        Answer
      </td>
      <td>
        <p>
          <b><%= @judgement.answer.user.realname %> (<%= @judgement.answer.user.username %>)</b>
        </p>
        <p>
          <%= simple_format @judgement.answer.content %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        Judegement
      </td>
      <td>
        <p>
          <b><%= @judgement.user.realname %> (<%= @judgement.user.username %>)</b>
        </p>
        <p>
          <%= simple_format @judgement.content %>
        </p>
      </td>
    </tr>
    <tr>
      <td>Result</td>
      <td><%= puts_answer_label @judgement.answer%></td>
    </tr>
  </tbody>
</table>

<% if can? :update, @judgement %>
  <%= link_to edit_judgement_path(@judgement) do %>
    <div class="ui blue button">Rejudge</div>
  <% end %>
<% end %>
<%= link_to judgements_path do %>
  <div class="ui basic button">Back to list</div>
<% end %>
<%= link_to answers_path do %>
  <div class="ui basic button">Back to answers</div>
<% end %>
<% if can? :destroy, @judgement %>
  <%= link_to @judgement, method: :delete, data: { confirm: "It will be destroy and requeue answer.\nAre you sure?" } do %>
    <div class="ui button">Destroy</div>
  <% end %>
<% end %>
