  <%= form_for(@user, html: { class: "ui form" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline field"><%= f.label(:roles) %><br />
    <div class="ui checkbox">
      <%= hidden_field_tag(:user_admin, 0) %>
      <%= check_box_tag(:user_admin, 1, @user.has_role?(:admin)) %>
      <%= f.label(:user_admin) do %>
        Admin
      <% end %>
    </div>
    <div class="ui checkbox">
      <%= hidden_field_tag(:user_manager, 0) %>
      <%= check_box_tag(:user_manager, 1, @user.has_role?(:manager)) %>
      <%= f.label(:user_manager) do %>
        Manager
      <% end %>
    </div>
    <div class="ui checkbox">
      <%= hidden_field_tag(:user_student, 0) %>
      <%= check_box_tag(:user_student, 1, @user.has_role?(:student)) %>
      <%= f.label(:user_student) do %>
        Student
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label(:username) %>
    <%= f.text_field(:username, autofocus: true) %>
  </div>
  <div class="field">
    <%= f.label(:realname) %>
    <%= f.text_field(:realname) %>
  </div>
  <div class="field">
    <%= f.label(:email) %>
    <%= f.email_field(:email) %>
  </div>
  <div class="field">
    <%= f.label(:phone) %>
    <%= f.text_field(:phone) %>
  </div>

  <%= f.button(class: "ui blue button") %>
<% end %>
