<h2 class="ui dividing header">Listing users</h2>

<table class="ui table">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Real Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Passed Chapter</th>
      <th>Last Login</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= user.username %></td>
        <td><%= user.realname %></td>
        <td><%= user.email %></td>
        <td><%= user.roles(:select => :name).collect(&:name).join(', ') %></td>
        <td><%= user.get_passed_chapter.count %></td>
        <td>
          <% if user.last_sign_in_at > 7.day.ago %>
            <%= distance_of_time_in_words_to_now user.last_sign_in_at %> ago
          <% else %>
            <%= time_tag user.last_sign_in_at %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui column centered grid" style="margin-top:1em;">
  <%= paginate @users, window: 2, outer_window: 1 %>
</div>
<%= link_to new_user_path do %>
  <div class="ui blue button" style="margin-top:1em;">New User</div>
<% end %>
