<%= form_for(@answer, html: { class: "ui form" }) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @has_quiz_param %>
    <p>
      <strong>
        <%= @quiz.chapter.number %> -
        <%= @quiz.code %>
        (<%= @quiz.title %>)
      </strong><br/>
      <%= @quiz.content %>
    </p>
    <%= f.hidden_field :quiz_id, value: @quiz.id %>
  <% end %>

  <% if can? :manage, Answer %>
    <div class="field">
      <%= f.label :user_id %>
      <%= f.text_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :quiz_id %>
      <%= f.text_field :quiz_id %>
    </div>
  <% end %>

  <% if can? :manage, Answer or @has_quiz_param %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <%= f.button class: "ui blue button"%>
  <% else %>
    <p> You have to go to Chapter page and choose quiz from grid </p>
  <% end %>
  <% if @has_quiz_param %>
    <%= link_to quiz_path(@quiz)  do %>
      <div class="ui button">Cancel</div>
    <% end %>
    <%= link_to chapter_path(@quiz.chapter)  do %>
      <div class="ui basic button">Back to chapter</div>
    <% end %>
  <% end %>
  <%= link_to answers_path  do %>
    <div class="ui basic button">Back to answers</div>
  <% end %>

<% end %>
