<h2 class="ui dividing header">Listing answers</h2>

<table class="ui table">
  <thead>
    <tr>
      <% if can? :create, Judgement %>
        <th>Examinee</th>
      <% end %>
      <th>Quiz</th>
      <th>Status</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <% if can? :create, Judgement %>
          <td>
            <%= answer.user.realname %>
            (<%= answer.user.username %>)
          </td>
        <% end %>
        <td>
          <%= link_to quiz_path answer.quiz do %>
            <%= answer.quiz.chapter.number %>: <%= answer.quiz.title %>
          <% end %>
        </td>
        <td>
          <%= puts_answer_label answer%>
        </td>
        <td><%= distance_of_time_in_words_to_now answer.created_at %> ago</td>
      <% if can? :create, Judgement %>
        <td><%= link_to 'Judge', new_judgement_path(target: answer.id) %></td>
      <% else %>
        <td><%= link_to 'Show', answer %></td>
      <% end %>
      <% if can? :update, answer %>
        <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
      <% end %>
      <% if can? :delete, answer %>
        <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui column centered grid" style="margin-top:1em;">
  <%= paginate @answers, window: 2, outer_window: 1 %>
</div>
