<h2 class="ui dividing header">Listing answers</h2>

<% if can? :create, Judgement %>
  <div class="ui styled accordion" style="width: 100%">
    <div class="title">
      <i class="dropdown icon"></i>
      Filter & Search
    </div>
    <div class="content">
      <%= form_tag answers_path, :method => 'get', class: "ui small form" do %>
      <div class="four fields">
        <div class="field">
          <label>Chapter ID</label>
          <input type="text" name="chapter" placeholder="Chapter ID">
        </div>
        <div class="field">
          <label>Quiz ID</label>
          <input type="text" name="quiz" placeholder="Quiz ID">
        </div>
        <div class="field">
          <label>Examinee ID</label>
          <input type="text" name="examinee" placeholder="Examinee ID">
        </div>
        <div class="field">
          <label>State</label>
          <select name="status" class="ui dropdown">
            <option value="">State</option>
            <option value="<%= Answer.statuses[:queue] %>">Queue</option>
            <option value="<%= Answer.statuses[:judgement] %>">Judgement</option>
          </select>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="four fields">
        <div class="field">
          <label>Search Answer</label>
          <input type="text" name="answer" placeholder="Key word(s)">
        </div>
        <div class="field">
          <label>Period From</label>
          <input type="date" name="period_from">
        </div>
        <div class="field">
          <label>Period End</label>
          <input type="date" name="period_end">
        </div>
      </div>
      <%= button_tag "Filt", class: "ui blue button"%>
      <% end %>
    </div>
  </div>
  <div class="ui hidden divider"></div>
<% end %>

<% if can? :create, Judgement %>
  <div class="ui centered grid">
    <div class="six wide column">
      <h5 class="ui top attached center aligned blue header">
        Today
      </h5>
      <div class="ui attached blue segment">
        <div class="ui tiny statistics">
          <% @statistics_today.each do | index, properties | %>
            <div class="<%= properties[:color] %> statistic" style="margin-bottom: 0; width: 49px;">
              <div class="value">
                <%= properties[:value] %>
              </div>
              <div class="label">
                <%= "#{index}".humanize.upcase %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="two wide column">
      <h5 class="ui top attached center aligned yellow header">
        Queue
      </h5>
      <div class="ui attached yellow segment">
        <div class="ui tiny statistics">
          <div class="yellow statistic" style="margin-bottom: 0; width: 57px;">
            <div class="value">
              <%= Answer.where(status: Answer.statuses[:queue]).count %>
            </div>
            <div class="label">
              Queue
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <h5 class="ui top attached center aligned purple header">
        All
      </h5>
      <div class="ui attached purple segment">
        <div class="ui tiny statistics">
          <% @statistics.each do | index, properties | %>
            <div class="<%= properties[:color] %> statistic" style="margin-bottom: 0; width: 73px;">
              <div class="value">
                <%= properties[:value] %>
              </div>
              <div class="label">
                <%= "#{index}".humanize.upcase %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<table class="ui table">
  <thead>
    <tr>
      <th>#</th>
      <% if can? :create, Judgement %>
        <th>Examinee</th>
      <% end %>
      <th>CH</th>
      <th>Quiz</th>
      <th>State</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td>
          <%= link_to answer.id, answer %>
        </td>
        <% if can? :create, Judgement %>
          <td>
            <%= link_to answer.user, style: "color:rgba(0, 0, 0, 0.8);"  do %>
              <%= answer.user.realname %>
              (<%= answer.user.username %>)
            <% end %>
            <% if !answer.count.nil? %>
              <span style="color: #00b5ad!important;" >[<%= answer.count %>]</span>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to chapter_path(answer.quiz.chapter), style: "color:rgba(0, 0, 0, 0.8);"  do %>
            <%= answer.quiz.chapter.number %>
            <% grid = answer.quiz.chapter.grids.where(user_id: current_user.id).first %>
            <% if !grid.nil? && !grid.get_quiz_sort(answer.quiz_id).nil? %>
              <span style="color:rgba(180, 180, 180, 0.8);">
                (<%= grid.get_quiz_sort answer.quiz_id%>)
              </span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to quiz_path answer.quiz do %>
            <span style="color:rgba(0, 0, 0, 0.8);">
              <%= answer.quiz.title %>
            </span>
          <% end %>
        </td>
        <td>
          <% if can? :create, Judgement %>
            <%= link_to new_judgement_path(target: answer.id) do%>
              <%= puts_answer_label answer%>
            <% end %>
          <% else %>
            <%= puts_answer_label answer%>
          <% end %>
        </td>
        <td>
          <% if answer.created_at > 7.day.ago %>
            <%= distance_of_time_in_words_to_now answer.created_at %> ago
          <% else %>
            <%= time_tag answer.created_at %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui column centered grid" style="margin-top:1em;">
  <%= paginate @answers, window: 2, outer_window: 1 %>
</div>
