<p id="notice"><%= notice %></p>

<p>
  <strong>
    Quiz:
    <%= @answer.quiz.chapter.number %> -
    <%= @answer.quiz.code %>
    (<%= @answer.quiz.title %>)
  </strong><br/>
  <%= @answer.quiz.content %>
</p>

<p>
  <strong>Answer:</strong>
  (by <%= @answer.user.username %>)<br/>
  <%= @answer.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @answer.status %>
</p>

<% if can? :update, @answer %>
  <%= link_to 'Edit', edit_answer_path(@answer) %> |
<% end %>
<% if can? :create, Judgement %>
    <%= link_to 'Judge', new_judgement_path(target: @answer.id) %> |
<% end %>
<% if can? :create, @answer %>
  <%= link_to 'Answer again', new_answer_path(quiz: @answer.quiz.id) %>
<% end %>
<% if can? :create, Answer %>
  <%= link_to 'Back to chapter', chapter_path(@answer.quiz.chapter) %> |
<% end %>
<%= link_to 'Back to answers', answers_path %>
