<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <td><%= @answer.user.username %></td>
</p>

<p>
  <strong>Content:</strong>
  <%= @answer.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @answer.status %>
</p>

<% if can? :update, @answer %>
  <%= link_to 'Edit', edit_answer_path(@answer) %> |
<% end %>
<% if can? :create, @answer %>
  <%= link_to 'Answer again', new_answer_path(quiz: @answer.quiz.id) %> |
  <%= link_to 'Back to chapter', chapter_path(@answer.quiz.chapter) %> |
<% end %>
<%= link_to 'Back to answers', answers_path %>
