<%= form_for(@chapter, html: { class: "ui form" }) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>
  <div class="grouped fields">
    <%= f.label :status %>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :status, :inactive %>
        <%= f.label :status, :inactive, value: :inactive %>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= f.radio_button :status, :active %>
        <%= f.label :status, :active, value: :active %>
      </div>
    </div>
  </div>
  <div class="field">
    Editor have supported
    <a href="http://markdown.tw/" target="_blank">Markdown markup</a>
    and most of
    <a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank">GitHub Flavored Markdown</a>.
    Try to use it! =D
  </div>
  <%= f.button class: "ui blue button"%>
<% end %>
