<h3 class="ui dividing header">Listing quizzes</h3>

<table class="ui table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th style="width: 50px;">Assign</th>
      <th style="width: 50px;">Passed</th>
      <th>Pass Rate</th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= link_to(quiz.id, quiz) %></td>
        <td><%= link_to(quiz.title, quiz, style: "color:rgba(0, 0, 0, 0.8);") %></td>
        <td><%= quiz.get_all_assignee_count %></td>
        <td><%= quiz.get_passed_submits_count %></td>
        <td>
          <% if quiz.get_all_assignee_count == 0 %>
            -
          <% else %>
            <div class="ui indicating small progress <%= quiz.get_passed_assignee_rate.round(0) < 100 ? "active" : "success" %>" style="margin: 0;">
              <div class="bar" style="width: <%= quiz.get_passed_assignee_rate.round(0) %>%;">
                <div class="progress">
                  <%= quiz.get_passed_assignee_rate.round(0) %>%
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to(new_quiz_path(chapter: @chapter.number)) do %>
  <div class="ui blue button">New Quiz</div>
<% end %>
