<h1>Listing chapters</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
    <% if can? :create, Answer and cannot? :manage, @chapter%>
      <th>Is Passed</th>
    <% end %>
    <% if can? :manage, Chapter %>
      <th>Weight</th>
      <th>Activity</th>
      <th colspan="3"></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @chapters.order("weight").each do |chapter| %>
      <tr>
        <td><%= chapter.number %></td>
        <td>
        <% if chapter.is_active %>
          <%= link_to chapter.title, chapter %>
        <% else %>
          <%= chapter.title %>
        <% end %>
        </td>
      <% if can? :create, Answer and cannot? :manage, @chapter%>
        <td>No (Not working)</td>
      <% end %>
      <% if can? :manage, @chapter %>
        <td><%= chapter.weight %></td>
        <td><%= chapter.is_active %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Chapter %>
<%= link_to 'New Chapter', new_chapter_path %>
<% end %>
