<p id="notice"><%= notice %></p>

<h2><%= @chapter.number %> - <%= @chapter.title %></h2>

<% if can? :manage, Chapter %>
<p>
  <strong>Weight:</strong>
  <%= @chapter.weight %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @chapter.status %>
</p>
<% end %>

<p>
  <%= @chapter.decription %>
</p>

<% if can? :update, Chapter %>
<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<% end %>

<%= link_to 'Back to chapters', chapters_path %>

<% if can? :manage, Quiz %>
  <%= render 'quizzes' %>
<% elsif can? :create, Answer %>
  <%= render 'grids' %>
<% end %>
