<h2 class="ui dividing header"><%= @chapter.number %> - <%= @chapter.title %></h2>
<p id="notice"><%= notice %></p>

<table class="ui definition table">
  <tbody>
    <% if can? :manage, Chapter %>
      <tr>
        <td class="two wide column">Weight</td>
        <td><%= @chapter.weight %></td>
      </tr>
      <tr>
        <td>Is active</td>
        <td><%= @chapter.status %></td>
      </tr>
    <% end %>
    <tr>
      <td>Description</td>
      <td><%= markdown_render @chapter.description %></td>
    </tr>
  </tbody>
</table>

<% if can? :update, Chapter %>
  <%= link_to edit_chapter_path(@chapter) do %>
    <div class="ui blue button">Edit</div>
  <% end %>
<% end %>
<% if can? :update, Chapter %>
  <%= form_for(@chapter, html: { class: "ui form", style: "display: inline;" }) do |f| %>
    <%= f.hidden_field :reset_grids, value: true %>
    <%= f.button "Reset Grids", value: 'reset_grids', class: "ui red button", data: { confirm: "It will reset grids of no passing quiz. \nAre you sure?" } %>
  <% end %>
<% end %>
<% if can? :destroy, @chapter %>
  <%= link_to @chapter, method: :delete, data: { confirm: 'Are you sure?' } do%>
    <div class="ui button">Destroy</div>
  <% end %>
<% end %>
<%= link_to chapters_path do %>
  <div class="ui basic button">Back to chapters</div>
<% end %>

<% if can? :manage, Quiz %>
  <%= render 'quizzes' %>
<% elsif can? :create, Answer %>
  <%= render 'grids' %>
<% end %>
