<!DOCTYPE html>
<html>
<head>
  <title>Nine Grids</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="main">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="ui secondary menu">
  <%= link_to root_path, :class => 'item' do %>
    <i class="home icon"></i> Home
  <% end %>
  <% if can? :read, User %>
    <%= link_to users_path, :class => 'item' do %>
      User
    <% end %>
  <% end %>
  <% if can? :read, Chapter %>
    <%= link_to chapters_path, :class => 'item' do %>
      Chapters
    <% end %>
  <% end %>
  <% if can? :manage, Quiz %>
    <%= link_to quizzes_path, :class => 'item' do %>
      Quizzes
    <% end %>
  <% end %>
  <% if can? :read, Answer %>
    <%= link_to answers_path, :class => 'item' do %>
      Answers
    <% end %>
  <% end %>
  <% if can? :read, Judgement %>
    <%= link_to judgements_path, :class => 'item' do %>
      Judgements
    <% end %>
  <% end %>
  <div class="right menu">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, :method => :delete, :class => 'item' do %>
        Logout
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path, :class => 'item' do %>
        Sign up
      <% end %>
      <%= link_to new_user_session_path, :class => 'item' do %>
        Login
      <% end %>
    <% end %>
  </div>
</div>





</p>
<%= yield %>

</body>
</html>
